@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "Inter";
    src: url("/fonts/Inter.ttf");
}
@font-face {
    font-family: "ClashDisplay";
    src: url("/fonts/ClashDisplay.ttf");
}
@font-face {
    font-family: "ClashDisplay-Bold";
    src: url("/fonts/ClashDisplay-Bold.otf");
}
@font-face {
    font-family: "ClashDisplay-Semibold";
    src: url("/fonts/ClashDisplay-Semibold.otf");
}